<div class="row">
  <div class="col-12">
    <ul *ngIf="series"  >
      <h2>Pagina {{page}} / {{ series.total_pages }} </h2>
      <hr class="new2">
        <li  class="card card-body container-fluid"   *ngFor="let serie of series.results  "    >
          <div class="row">
            <div class="col-3">
                <img routerLink="/show/{{ serie.id }}" class="pointer w185" src="{{ serie.poster_path | showImage:185:'poster' }}" alt="{{serie.original_name}}"   title="{{serie.original_name}}"  >
            </div>
            <div class="col-9 ">
              <h2 class="text-center pointer" routerLink="/show/{{ serie.id }}" >{{serie.original_name}}</h2>
              <p> <span class="font-weight-bold font-italic">Primera emisión:</span>  {{ getNewDate(serie.first_air_date) | date:'dd/MM/yyyy' }}</p>
              <p><span class="font-weight-bold font-italic">Cantidad de televidentes:</span>  {{ serie.popularity | number:'1.2-2' }}</p>
              <p><span class="font-weight-bold font-italic">Voto promedio:</span> <span class=" badge badge-warning" >{{ serie.vote_average}} </span> </p>
              <!-- <p><span class="font-weight-bold font-italic">Cantidad de votos:</span> <span class=" badge badge-warning" >{{ serie.vote_count}} </span> </p> -->
              <p><span class="font-weight-bold font-italic">Sinopsis:</span> {{ serie.overview | slice:0:120}}  </p>
              <button routerLink="/show/{{ serie.id }}" class="btn btn-outline-success">Ver más ...</button>
            </div>
          </div>


          </li>
    </ul>
    <nav class="mt-3" aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" (click)="onClick('1')">1</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('2')" >2</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('3')">3</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('4')">4</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('5')">5</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('7')">7</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('8')">8</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('9')">9</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>
          <li class="page-item"><a class="page-link" (click)="onClick('6')">6</a></li>

          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>


  </div>
</div>
