<header  class="mb-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" >
      <img src="./../../../assets/favicon/android-icon-72x72.png" alt="Mis Series Favoritas">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  " routerLinkActive="active current"    >
          <a class="nav-link" routerLink="/" >Home </a>
        </li>
        <!--
        <li class="nav-item"    routerLinkActive="active current"  >
          <a class="nav-link" routerLink="/search" >Mis Favoritas</a>
        </li>

        <li class="nav-item"   routerLinkActive="active current"  >
          <a class="nav-link" routerLink="/" >Siguiendo</a>
        </li> -->


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="words" name="words"  placeholder="Search" aria-label="Search" (keyup.enter)="onSubmit()">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button"  (click)="onSubmit()">Search</button>
      </form>
    </div>
  </nav>
</header>
