.h500 {
  height: 300px;
  padding-left: 0;
  padding-right: 5px;
  border: black 1px solid;
}

.h300 {
  height: 200px;
  padding-left: 0;
  padding-right: 5px;
  border: black 1px solid;
}



.gallery {
  border: black solid 4px;
}



/*  ${sanitizeImage( data.results[0].backdrop_path  | showImage:500:'backdrop' )} */


